//ESTILOS TOOLBAR

.toolbar-pagina{
    --background: var(--ion-background-color,linear-gradient(to  left,rgb(161, 12, 211), rgb(194, 112, 36))) !important;
    color:white;
  
  }
  
  //FIN ESTILOS TOOLBAR
  
  //ESTILOS MENU LATERAL
  
  .toolbar-menu-usuario {
      --background: var(--ion-background-color,linear-gradient(to  left,rgb(161, 12, 211), rgb(194, 112, 36))) !important;
      color:white;
  }
  
  .titulo-toolbar-inicio-usuario{
      font-size: 14px;
  }
  
  
  .content-menu{
      --ion-background-color: rgb(210, 167, 127);
  }
  
  // FIN ESTILOS MENU LATERAL

ion-avatar{
    margin: auto;
    margin-top: 10px;
}

p{
    text-align: center;
}