<ion-header>
  <ion-toolbar class="toolbar-pagina">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-titulo">
    <h3 style="text-align:center;">Tu perfil</h3>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p><b>{{usuario.nombre}} {{usuario.apellidos}}</b></p>
      </ion-col>
    </ion-row>
  <ion-row>
    <ion-col>
      <p>Correo: <i>{{usuario.correo}}</i></p>
      <p>Fecha Nacimiento: <i>{{usuario.fechaNacimiento}}</i></p>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>