<ion-header >
  <ion-toolbar class="toolbar-pagina">
    <ion-buttons>
      <ion-button slot="start" (click)="activarMenuUsuario()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <!--MENU LATERAL-->

<ion-menu side="start" menuId="menu-inicio-usuario" contentId="contenidoPrincipal">
  <ion-header>
    <ion-toolbar class="toolbar-inicio-usuario">
      <!--***CAMBIAR LA RUTA DE LA IMAGEN Y NOMBRE DE USUARIO***-->
      <!--El ion chip es como un boton que contiene la foto del usuario y su nombre-->
      <ion-chip (click)="verPerfil()">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>NOMBRE DE USUARIO</ion-label>
      </ion-chip>
      <ion-buttons slot="primary">
        <ion-button (click)="activarMenuUsuario()">
          <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="content-menu">
    <ion-list class="list-menu">
      <!--El ion-menu-toggle hace que al pulsar cualquier cosa dentro de el, el menú se cierre tambien-->
      <ion-menu-toggle>
        <ion-item (click)="clickItem1Menu()" class="list-menu">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label>&nbsp;ITEM1</ion-label>
        </ion-item>
        <ion-item (click)="clickItem2Menu()">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label>&nbsp;ITEM2</ion-label>
        </ion-item>
        <ion-item (click)="clickItem3Menu()">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label>&nbsp;ITEM3</ion-label>
        </ion-item>
        <ion-item (click)="clickItem4Menu()">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label>&nbsp;ITEM4</ion-label>
        </ion-item>
        <ion-item (click)="cerrarSesionUsuario()">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label>&nbsp;Cerrar Sesión</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

  <!--FIN MENU LATERAL-->

<ion-content id="contenidoPrincipal">

  <div class="map-wrapper">
    <div id="map_center">
      <img class="marker-centro" src="assets/icon/marker-mapa.png" />
    </div>
    <div #map id="map"></div>
  </div>
  
</ion-content>