<ion-header>
  <ion-toolbar class="toolbar-pagina">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>


<ion-content class="contenedor-superior">
  <form [formGroup]="validation_configuracion_establecimiento"
    (ngSubmit)="onSubmit(validation_configuracion_establecimiento.value)">
    <ion-list>
      <ion-item>
        <ion-icon name="storefront-outline" class="icon-login"></ion-icon>
        <ion-input type="name" placeholder="Nombre Comercial" formControlName="nombreEstablecimiento"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="person-outline" class="icon-login"></ion-icon>
        <ion-input type="name" placeholder="Nombre Gestor" formControlName="nombreGestor"></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <ion-content id="contenidoPrincipal">
    <div class="map-wrapper">
      <div id="map_center">
        <img class="marker-centro" src="assets/icon/marker-mapa.png" />
      </div>
      <div #map id="map"></div>
    </div>

  </ion-content>
</ion-content>