<ion-header>
  <ion-toolbar class="toolbar-pagina">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-content class="contenedor">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-avatar>
            <ion-img [src]="establecimiento.imagenPerfil"></ion-img>
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p><b>{{establecimiento.nombreEstablecimiento}}</b></p>
          <p>
            <ion-icon name="star"></ion-icon> <i>{{establecimiento.valoracionMedia}}</i>
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p><b>Gestor: </b><i>{{establecimiento.nombreGestor}}</i></p>
          <p><b>Dirección: </b><i>{{establecimiento.direccion}}</i></p>
          <p><b>Correo: </b><i>{{establecimiento.correo}}</i></p>
          <ion-button expand="block" class="btn-pregunta" (click)="crearAlertPregunta()"> Pregunta a
            {{establecimiento.nombreEstablecimiento}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card class="card-titulo">
      <h4 style="text-align:center;">Eventos</h4>
    </ion-card>
    <div *ngFor="let evento of eventos; let indice=index;">
      <ion-card class="cards" *ngIf="evento.establecimiento.uidEstablecimiento == uidEstablecimiento">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-row>
                <h6 class="nombre-evento"><b>{{evento.nombre}}</b></h6>
              </ion-row>
              <ion-row>
                <p><b>Aforo Máximo: </b><i>{{evento.aforoMaximo}}</i></p>
              </ion-row>
              <ion-row>
                <p><b>Edad Mínima: </b><i>{{evento.edadMinima}}</i></p>
              </ion-row>
              <ion-row>
                <p><b>Tipo Música: </b><i>{{evento.tipoMusica}}</i></p>
              </ion-row>
              <ion-row>
                <p><b>Fecha Inicio: </b><i>{{evento.fechaInicio}}</i></p>
              </ion-row>
              <ion-row>
                <p><b>Fecha Fin: </b><i>{{evento.fechaFin}}</i></p>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
    <ion-card class="card-titulo">
      <h4 style="text-align:center ;">Comentarios</h4>
    </ion-card>
    <ion-item>
      <ion-input [(ngModel)]="inputComentario" type="text"></ion-input>
      <ion-button expand="block" class="btn-pregunta" (click)="comentar()"> Comentar
      </ion-button>
    </ion-item>
    <div *ngFor="let comentario of comentarios; let indice=index;">
      <ion-card class="cards" *ngIf="comentario.establecimiento.uidEstablecimiento == uidEstablecimiento">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-row>
                <p><b>{{comentario.usuario.nombreUsuario}} </b></p>
                <p class="fecha">&nbsp;{{comentario.fecha}}</p>

              </ion-row>
              <ion-row>
                <p>{{comentario.comentario}}</p>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </ion-content>