<ion-header>
  <ion-toolbar class="toolbar-pagina">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-content class="contenedor">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-avatar>
            <ion-img [src]="establecimiento.imagenPerfil"></ion-img>
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p><b>{{establecimiento.nombreEstablecimiento}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>Gestor: <i>{{establecimiento.nombreGestor}}</i></p>
          <p>Dirección: <i>{{establecimiento.direccion}}</i></p>
          <p>Correo: <i>{{establecimiento.correo}}</i></p>
          <p>
            <ion-icon name="star"></ion-icon> <i>{{establecimiento.valoracionMedia}}</i>
          </p>
          <ion-button expand="block" class="btn-pregunta"> Pregunta a {{establecimiento.nombreEstablecimiento}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card class="card-titulo">
      <h4 style="text-align:center ;">Comentarios</h4>
    </ion-card>
    <ion-item>
      <ion-input [(ngModel)]="inputComentario" type="text"></ion-input>
      <ion-button expand="block" class="btn-pregunta" (click)="comentar()"> Comentar
      </ion-button>
    </ion-item>
    <div *ngFor="let comentario of comentarios; let indice=index;">
      <ion-card class="card-eventos" *ngIf="comentario.establecimiento.uidEstablecimiento == uidEstablecimiento">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-row>
                <p><b>{{comentario.usuario.nombre}} </b></p>
                <p class="fecha">&nbsp;{{comentario.fecha}}</p>
                
              </ion-row>
              <ion-row>
                <p>{{comentario.comentario}}</p>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </ion-content>