.toolbar-pagina {
  --background: var(--ion-background-color, linear-gradient(to left, rgb(161, 12, 211), rgb(194, 112, 36))) !important;
  color: white;
}

ion-avatar {
  margin: auto;
  margin-top: 10px;
}

p {
  text-align: center;
}

.card-titulo {
  --ion-background-color: rgba(194, 112, 36, 0.507);
}

.contenedor {
  --ion-background-color: rgb(254, 219, 188);
}

.btn-pregunta {
  --background: rgb(161, 12, 211);
}

.fecha {
  font-size: 10px;
  color: gray;
  text-align: center;
}

.cards {
  --ion-background-color: rgba(161, 12, 211, 0.198);
}