<ion-content [fullscreen]="true">
  <ion-grid class="grid1">

    <ion-row class="fila1">
      <ion-col class="img-container">
        <img class="img-login"
          src="https://firebasestorage.googleapis.com/v0/b/proyecto-fin-grado-1.appspot.com/o/1_letrasYmarker.png?alt=media&token=a803aa5b-f916-407e-b29e-c3112f482b7c">
      </ion-col>
    </ion-row>

    <ion-row class="fila2">
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="validation_registro_establcimiento"
    (ngSubmit)="onSubmit(validation_registro_establcimiento.value)">
    <ion-slide>
      <div class="div-login">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h3>
                <ion-buttons slot="start">
                  <ion-button (click)="irRegistroUsuario()">
                    <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>Regístra tu establecimiento
              </h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-icon name="storefront-outline" class="icon-login"></ion-icon>
                  <ion-input type="name" placeholder="Nombre Comercial" formControlName="nombreEstablecimiento">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon name="person-outline" class="icon-login"></ion-icon>
                  <ion-input type="name" placeholder="Nombre Gestor" formControlName="nombreGestor"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon name="mail-outline" class="icon-login"></ion-icon>
                  <ion-input type="email" placeholder="Correo" formControlName="correo"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon name="lock-open-outline" class="icon-login"></ion-icon>
                  <ion-input type="password" placeholder="Contraseña" formControlName="contrasena"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-icon name="lock-closed-outline" class="icon-login"></ion-icon>
                  <ion-input type="password" placeholder="Repite Contraseña" formControlName="contrasenaConfirmada">
                  </ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <!--POSIBILIDAD DE CAMBIAR EL COLOR A tertiary-->
              <ion-button type="submit" fill="solid" expand="full" shape="round" color="dark">
                Crear Cuenta
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>
                <p>Una vez verificado tu establecimiento deberás configurarlo y posicionarlo en el mapa.</p>
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>
  </form>
</ion-content>