<ion-header>
  <ion-toolbar class="toolbar-pagina">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="irCrearEvento()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-content class="contenedor-superior">
    <ion-card class="card-titulo">
      <h3 style="text-align:center ;">Mis Eventos</h3>
    </ion-card>

    <div *ngFor="let evento of eventos; let indice=index;">
      <ion-card class="card-eventos">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-row>
                <h6 class="nombre-evento"><b>{{evento.nombre}}</b></h6>
              </ion-row>
              <ion-row>
                <p><b>Aforo Máximo: </b><i>{{evento.aforoMaximo}}</i></p>
              </ion-row>
              <ion-row>
                <p><b>Edad Mínima: </b><i>{{evento.edadMinima}}</i></p>
              </ion-row>
              <ion-row>
                <p><b>Tipo Música: </b><i>{{evento.tipoMusica}}</i></p>
              </ion-row>
              <ion-row>
                <p><b>Fecha Inicio: </b><i>{{evento.fechaInicio}}</i></p>
              </ion-row>
              <ion-row>
                <p><b>Fecha Fin: </b><i>{{evento.fechaFin}}</i></p>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>

  </ion-content>