<ion-header>
  <ion-toolbar class="toolbar-pagina">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" >
      <ion-button (click)="irCrearEvento()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-content class="contenedor-superior">
  <ion-card class="card-titulo">
    <h3 style="text-align:center ;">Mis Eventos</h3>
  </ion-card>

  <div *ngFor="let evento of eventos; let indice=index;">
    <ion-card class="card-eventos">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-row>
              <p>Nombre Evento: {{evento.nombre}}</p>
            </ion-row>
            <ion-row>
              <p>Aforo Máximo: {{evento.aforoMaximo}}</p>
            </ion-row>
            <ion-row>
              <p>Edad Mínima: {{evento.edadMinima}}</p>
            </ion-row>
            <ion-row>
              <p>Tipo Música: {{evento.tipoMusica}}</p>
            </ion-row>
            <ion-row>
              <p>Fecha Inicio: {{evento.fechaInicio}}</p>
            </ion-row>
            <ion-row>
              <p>Fecha Fin: {{evento.fechaFin}}</p>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

</ion-content>
