<ion-header>
  <ion-toolbar class="toolbar-pagina">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-content class="contenedor">
    <ion-card class="card-titulo">
      <h3 style="text-align:center ;">Sin responder</h3>
    </ion-card>
    <p class="mini">Haz click para responder</p>
    <div *ngFor="let pregunta of preguntas; let indice=index;">
      <ion-card class="cards"
        *ngIf="pregunta.establecimiento.uidEstablecimiento == uidEstablecimientoActual && (pregunta.respuesta == null || pregunta.respuesta == undefined)"
        (click)="responderPregunta(pregunta)">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-row>
                <p><b>Pregunta: </b>{{pregunta.pregunta}}</p>
              </ion-row>
              <ion-row>
                <p><b>Respuesta: </b>{{pregunta.respuesta}}</p>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>

  </ion-content>