//ESTILOS TOOLBAR

.toolbar-pagina {
  --background: var(--ion-background-color, linear-gradient(to left, rgb(161, 12, 211), rgb(194, 112, 36))) !important;
  color: white;
}

.contenedor {
  --ion-background-color: rgb(254, 219, 188);
}

.cards {
  --ion-background-color: rgba(161, 12, 211, 0.198);
}

.mini {
  font-size: 12px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
  text-align: center;
}