<ion-header>
  <ion-toolbar class="toolbar-pagina">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="contenedor">
  <ion-card class="card-titulo">
    <h3 style="text-align:center ;">Mis preguntas</h3>
  </ion-card>
  <div *ngFor="let pregunta of preguntas; let indice=index;">
    <ion-card *ngIf="pregunta.usuario.uidUsuario == uidUsuarioActual">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-row>
              <p>Establecimiento: {{pregunta.establecimiento.nombreEstablecimiento}}</p>
            </ion-row>
            <ion-row>
              <p>Pregunta: {{pregunta.pregunta}}</p>
            </ion-row>
            <ion-row>
              <p>Respuesta: {{pregunta.respuesta}}</p>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
