<ion-header>
  <ion-toolbar class="toolbar-pagina">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
 

<ion-content id="contenidoPrincipal" class="contenedor">
  <ion-card class="card-titulo" class="card-titulo">
    <h3 style="text-align:center;">Bienvenido de nuevo</h3>
  </ion-card>
  <p>Aqui se incorporará estadisticas mensuales tales como:<br><br>
    -Visitas al perfil<br><br>
    -Valoración en estrellas medias.<br><br>
    -Ultimos comentarios sobre el establecimiento(Ultima semana ordenado por más recientes)<br><br>
  </p>
</ion-content>
