//ESTILOS TOOLBAR

.toolbar-pagina{
    --background: var(--ion-background-color,linear-gradient(to  left,rgb(161, 12, 211), rgb(194, 112, 36))) !important;
    color:white;
  }

  .boton-crear-evento {
    --background: rgb(161, 12, 211);
}