<ion-header>
  <ion-toolbar class="toolbar-pagina">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-content class="contenedor">
    <ion-card class="card-titulo">
      <h3 style="text-align:center;">Tu perfil</h3>
    </ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-avatar>
            <ion-img [src]="establecimiento.imagenPerfil"></ion-img>
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p><b>{{establecimiento.nombreEstablecimiento}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p><b>Gestor: </b><i>{{establecimiento.nombreGestor}}</i></p>
          <p><b>Dirección: </b><i>{{establecimiento.direccion}}</i></p>
          <p><b>Correo: </b><i>{{establecimiento.correo}}</i></p>
          <p><b>Aforo Máximo: </b><i>{{establecimiento.aforoMaximo}}</i></p>
          <p>
            <ion-icon name="star-half-outline"></ion-icon>&nbsp;<b>{{establecimiento.valoracionMedia}}</b>
          </p>
          <p *ngIf="establecimiento.verificadoAdmin" style="color:green">Verificado por el Admin <ion-icon name="shield-checkmark"></ion-icon></p>
          <p *ngIf="!establecimiento.verificadoAdmin" style="color:red">No verificado por el Admin <ion-icon name="close-circle"></ion-icon></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>